<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>624300764182-c6lg6drgpk62t4ed1kfq6ton46tnktue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624300764182-c6lg6drgpk62t4ed1kfq6ton46tnktue</string>
	<key>API_KEY</key>
	<string>AIzaSyDMn06AN11fwdzbWWXnt4RZ_7HikO3EwsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>624300764182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carlo.carpio.InstagramFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagramfirebase-65ef3</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirebase-65ef3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624300764182:ios:8fc645c38674b835</string>
	<key>DATABASE_URL</key>
	<string>https://instagramfirebase-65ef3.firebaseio.com</string>
</dict>
</plist>